body {
    margin: 20px;
    padding: 20px;
}
.a {
  text-decoration: none;
}
.done {
    color: darkgreen;
}

.not-done {
    color: darkred;
}

.deadline {
    color: brown;
}

.add {
    float: right;
}

.h_line {
    border-bottom: 1px solid dimgray;
    width: 900px;
    margin: auto;
}
