{% extends "base.html" %}

{% block content %}
  <h1>
    To do list
    <a href="{% url 'tasklist:task-create' %}" class="btn btn-info add">Add task</a>
  </h1>
  {% if tasks_list %}
    {% for task in tasks_list %}
      <div>
        <div class="h_line"></div>
        <h3>
          <strong>{{ task.content }}</strong>
        </h3>
        <form action="{% url 'tasklist:task-complete' pk=task.id %}" method="post">
          {% csrf_token %}
          {% if task.status %}
            <span class="done">Done </span>
            <button value="Undo" class="btn btn-secondary add">Undo</button>
          {% else %}
            <span class="not-done">Not done </span>
            <button value="Complete" class="btn btn-success add">Complete</button>
          {% endif %}
        </form>

        <h4>
          Created: {{ task.datetime }}
          {% if task.deadline %}
            <span class="deadline">Deadline: {{ task.deadline }}</span>
          {% endif %}
        </h4>
        <h3>
          Tags:
          {% for tag in task.tags.all %}
            {{ tag.name }}
          {% endfor %}

          <a href="{% url 'tasklist:task-update' pk=task.id %}" class="a">Update</a>
          <a href="{% url 'tasklist:task-delete' pk=task.id %}" class="a">Delete</a>
        </h3>
      </div>
    {% endfor %}

  {% endif %}
{% endblock %}
